[Unit]
Description=Sirius RF Motor Driver- GPIO Interface
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=10
Type=simple

WorkingDirectory=/root/cas-rf-motor-driver/MotorDriverGPIO
ExecStartPre=/bin/bash /root/cas-rf-motor-driver/MotorDriverGPIO/overlay.sh
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python /root/cas-rf-motor-driver/MotorDriverGPIO/run.py

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
