[Unit]
Description=Sirius RF Motor Driver- GPIO Interface
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=10
Type=simple
User=iocuser
Group=ioc

WorkingDirectory=/opt/cas-rf-motor-driver/MotorDriverGPIO
ExecStart=/usr/local/bin/procServ -f --allow -L - 20201 /usr/bin/python /opt/cas-rf-motor-driver/MotorDriverGPIO/run.py

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
