[Unit]
Description=Sirius RF motor driver RaBO01 - IOC
Wants=network-online.target
After=network-online.target

Wants=cas-rf-motor-driver-gpio.service
After=cas-rf-motor-driver-gpio.service

[Service]
Restart=always
RestartSec=10
Type=simple
User=iocuser
Group=ioc

WorkingDirectory=/opt/cas-rf-motor-driver/iocBoot/iocMotorDriver/
ExecStart=/usr/local/bin/procServ -f --allow -L - --chdir /opt/cas-rf-motor-driver/iocBoot/iocMotorDriver 20200 ./st-RaBO01.cmd

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
